ul {
    font-family: Georgia, serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 100px;
    overflow: hidden;
    /*border-bottom:1px solid black;
    length: 300px;*/
}

li {
    font-family: Georgia, serif;
    float: left;
    font-style:
}
li a:active {

    color: red;

}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1px 15px;
    padding-bottom: 0px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: red;
}

.navline {
  border-color: black;
  border-width: 1px;
  width: 540px;
  float:left;
}

.city {
padding-top: 55px;


}

h2 {

font-family: Georgia, serif;
text-align: center;


}

p {

  font-family: Georgia, serif;
  display: block;

}

.judge {

  text-align: center;

}

.title {

  text-align: center;
  font-weight: bolder;
  color: rgb(255,40,40);
  font-size: 28px;
  padding-top: 5px;

}

font a{

  font-style: normal;  
    
}
