hr {
  border-color: black;
  border-width: 1px;
  width: 430px;
  float:left;
}

.Navbar {

  margin-bottom: 45px;

}

.Nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 185px;
    overflow: hidden;
    font-family: Georgia, serif;
    /*border-bottom:1px solid black;
    length: 300px;*/
}

.list {
    float: left;
    font-family: Georgia, serif;
}

/* .list a {
    display: block;
    color: black;
    text-align: center;
    padding: 1px 18px;
    padding-bottom: 0px;
    text-decoration: none;
    font-family: Georgia, serif;
} */

li a {
    font-family: Georgia;
    display: block;
    color: black;
    text-align: center;
    padding: 1px 18px;
    padding-bottom: 0px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.list a:hover {
    color: red;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.img-list {

float: left;

}


ul.img-list li {
  display: inline-block;
  height: 250px;
  padding-top: 70px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 180px;
}

span.text-content {

  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  margin-top: 70px;
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 180px;
  font-family: Georgia, serif;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  margin-top: 70px;
  vertical-align:top;
}


span.text-content {
  background: rgba(0,0,0,0.5);
  margin-top: 70px;
  color: white;
  cursor: pointer;
  display: table;
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 180px;
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content {
  background: rgba(0,0,0,0.65);
  color: white;
  cursor: pointer;
  display: table;
  height: 250px;
  left: 0;
  margin-top: 70px;
  position: absolute;
  top: 0;
  width: 180px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}


.secrow {

  vertical-align: bottom;
  padding-bottom: 50px;
}

.first {

padding-bottom:50px;

}

.thirdrow {

  text-align: left;
  width: auto;


}

/*div {width:300px; overflow:hidden;}
img {width:120px; float:left; display:inline; margin:15px;}
img.middle {margin:15px 90px;}*/
